* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    color: #FFF;
}

.top {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.li__bunch {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

li  {
    list-style: none;
    border: 1px solid #FFF;
    margin-right: 1.5rem;
    padding: .6rem;
    text-align: center;
}

li:hover {
    background-color: #FFF;
    color: #000;
}

main, footer {
    text-align: center;
    margin-top: 5rem;
}

main {
    width: 60vw;
    margin: 0 20vw;
    border: 1px solid #FFF;
    padding: 3rem;
}